
@media screen and (max-width: 768px) 

{
	/*body { overflow-y: hidden }*/
	#main > .content,
	#rodape .content { padding: 0 20px; }

	#menu .content ul { display: none }
	#menu .menu-control { display: inline-block; }
	#menu > .content { flex-direction: column; }
	#menu ul > li,
	#menu ul > li a {
		display: block;
		width: 100%;
		text-align: center;
	}
	section#slider {
		font-size: .5em;
	}
}