@media screen and (max-width: 768px) {
	#menu {
		.content {
			flex-direction: column;
			align-items: center;

			.menu-control {
				display: block;
			}

			> ul {
				a,
				li,
				ul {
					width: 100%;
					text-align: center;
				}
				li ul {
					left: 0;
				}
			}
		}
	}
}
